<div class="flex justify-center mx-auto my-[6vw]">
  <div class="h-[60vh] w-[60vw] bg-stone-800 rounded-xl">
    <h1 class="text-white flex justify-center mt-[7vw] text-[4vw]">
      Welcome to Connect
    </h1>
    <div class="flex justify-center mt-[5vw] gap-10">
      <a
        class="px-[2vw] py-[1vw] bg-stone-400 font-semibold hover:bg-stone-600 hover:text-white transition-[.5s] hover:scale-[1.1]"
        href="/login"
        >Continue surffing</a
      >
      <a
        class="px-[2vw] py-[1vw] bg-stone-400 font-semibold hover:bg-stone-600 hover:text-white transition-[.5s] hover:scale-[1.1]"
        href="/register"
        >Start Your Journey</a
      >
    </div>
  </div>
</div>
